/* Fonts */

/* Components */
@import url("/css/components/buttons.css");
@import url("/css/components/footer.css");
@import url("/css/components/navbar.css");
@import url("/css/components/banner.css");

/* Pages */
@import url("pages/contact.css");

/* Utilities */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: white;
}

/* body {
    margin: 0 0 0 0;
    background: white;
} */

h1, h2, h3, h4 {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.page-container {
    padding: 0 80px 0 80px;
    align-items: center;
}

.section-title {
    color: #3B4956;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}

