/* Fonts */

/* Components */
@import url("/css/components/logos.css");
@import url("/css/components/banner.css");
@import url("/css/components/footer.css");
@import url("/css/components/navbar.css");
@import url("/css/components/buttons.css");
@import url("/css/components/collage.css");
@import url("/css/components/engagement-cards.css");

/* Pages */
@import url("pages/index.css");
@import url("pages/contact.css");
@import url("pages/engagement.css");
@import url("pages/management.css");

/* Utilities */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: white;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.page-container {
    padding: 0 80px 0 80px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.section-title {
    color: #3B4956;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}

.sub-banner-title {
    color: #3B4956;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    margin: 50px 0 30px 0;
}

