/* Banner */

.banner-container {
    height: 500px;
    margin: 0 0 0 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('/images/banner-contact.png');
    overflow-x: visible; 

}

.banner-text-title {
    top: 40%;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

