/* Buttons */

.btn {
    width: 204px;
    color: white;
    cursor:pointer;
    font-weight: 500;
    padding: 12px 0 12px 0;
    background-color: #1571A8;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.btn-title {
    color: #3B4956;
    font-family: 'Raleway', sans-serif;
}

.btn-section-container-engagement {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.title-and-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

/* Responsiveness */

@media(min-width: 800px) {

    .btn-section-container-engagement {        
        flex-direction: row;
        padding: 0 30% 0 30%;
    }
    
    .title-and-button-container {
        padding: 0 20% 0 20%;
    }

}

@media (min-width: 800px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .btn-section-container-engagement {        
        flex-direction: row;
        padding: 0;
    }

    .title-and-button-container {
        padding: 0;
    }

}