/* Buttons */

.btn {
    width: 204px;
    color: white;
    cursor:pointer;
    font-weight: 500;
    padding: 12px 0 12px 0;
    background-color: #1571A8;
    font-family: 'Raleway', sans-serif;
}

.btn-title {
    color: #3B4956;
    /* margin: 20px 0 20px 0; */
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}

.btn-section-container-engagement {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.title-and-button-container {
    display: flex;
    align-items: center;
    /* padding: 0 20% 0 20%; */
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

/* Responsiveness */

/* 1169 is the MIN breakpoint for contact-title to work well*/

/* lg */

@media(min-width: 800px) {

    .btn-section-container-engagement {        
        flex-direction: row;
    }
    
    .title-and-button-container {
        padding: 0 20% 0 20%;
    }

}
