/* Engagement Cards */

.card-container {
    margin: 50px 0 0 0;
    padding: 50px 0 50px 0;
    background-color: #FAFAFA;
}

.card {
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin: 20px 0 20px 0;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 60px 50px 60px 50px;
    justify-content: space-between;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, .05);
}

.card-icon {
    width: 64px;
    height: 64px;
}

.card-title {
    font-weight: 700;
    color: #3B4956;
    text-align: center;
    padding: 30px 0 30px 0;
    font-family: 'Raleway', sans-serif;

}

.card-content {
    opacity: 0.7;
    line-height: 100%;
    text-align: center;
    font-family: 'Amiri', serif;
}

/* Responsiveness */

@media(min-width: 800px) {
    .card {
        display: flex;
        border-radius: 5px;
        flex-direction: row;
        padding: 0 50px 0 0;
        align-items: center;
    }
    
    .card-icon {
        width: 64px;
        height: 64px;
        margin: 50px 50px 50px 50px;    
    }
    
    .card-text-container {
        padding: 0 6px 0 0;
    
    }
    
    .card-title {
        font-size: 20px;
        text-align: left;
        color: #3B4956;
        font-weight: 700;
        padding: 0 0 15px 0;
        font-family: 'Raleway', sans-serif;
    
    }
    
    .card-content {
        opacity: 0.7;
        text-align: left;
        line-height: 100%;
        font-family: 'Amiri', serif;
    }
}

/* XL */

/* width: 1152px is the page width the figma was designed with. This XL breakpoint is to adjust for the extra space */

@media(min-width: 1152px) {

    .card-icon {
        margin: 30px 50px 30px 50px;
    }

    .card {
        padding: 0 6% 0 6%;
    }

    .card-text-container {
        padding: 0 60px 0 0;
    
    }

}
