/* Engagement Cards */

.card-container {
    background-color: #FAFAFA;
    margin: 50px 0 0 0;
    padding: 50px 0 50px 0;
}

.card {
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin: 30px 0 30px 0;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 60px 50px 60px 50px;
    justify-content: space-between;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, .05);
}

.card-icon-container {

}

.card-icon {
    width: 64px;
    height: 64px;
}

.card-text-container {

}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #3B4956;
    padding: 30px 0 30px 0;
    text-align: center;

}

.card-content {
    font-family: 'Amiri', serif;
    line-height: 100%;
    text-align: center;
    opacity: 0.7;
}

/* Responsiveness */

/* 1169 is the MIN breakpoint for contact-title to work well*/

/* lg */

@media(min-width: 1048px) {


}


@media(min-width: 1169px) {



}