/* Logo & Logo container */

.logo-item-top {
    margin: 15px 0 15px 0;
}

.logo-item-middle {
    margin: 20px 0 20px 0;
}

.logo-item-bottom {
    margin: 15px 0 15px 0;
}

.logo-item-wide {
    width: 140px;
    margin: 0 10px 0 10px;
}

.logo-item-square {
    width: 100px;
    margin: 0 10px 0 10px;
}

.logo-target {
    width: 70px;
}

.logo-dell {
    width: 70px;
}

.logo-lavley {
    width: 85px;
}

.logo-second-nature {
    width: 200px;
    /* margin: 0 10px 0 10px; */
}

.logo-container-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.logo-container-middle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 0 15px 0 15px;
    justify-content: space-around;
}

.logo-container-bottom {
    /* width: 80%; */
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 0 10px 0 10px;
    justify-content: space-around;
}

/* This is 30 px in addition to .logo-item-container-bottom having 20px margin on bottom*/
.homepage-supply-chains-serviced-container {
    margin-bottom: 30px;

}