/* Navbar */

/* Navbar on large screens */

.navbar {
    display: flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* position: -webkit-sticky; Safari */
    /* position: sticky;
    top: 0px; */
}

.navbar-btns-container {
    display: flex;
    flex-direction: row;
}

a.nav-bar-link {
    color: white;
    border: #000;
    position: relative;
    text-decoration: none;
    margin: 0 12.5px 0 12.5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

a.nav-bar-link:before {
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -5px;
    visibility: hidden;
    position: absolute;
    transform: scaleX(0);
    background-color: #FEE042;
    transition: all 0.3s ease-in-out 0s;
}

a.nav-bar-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}




/* Navbar on mobile & tablet*/