/* Navbar */

/* Navbar on large screens */

.navbar-lg {
    display: flex;
    padding-top: 30px;
    visibility: visible;
    align-items: center;
    flex-direction: row;
    margin-bottom: 150px;
    justify-content: space-between;
}

.navbar-btns-container {
    display: flex;
    flex-direction: row;
}

a.nav-bar-link {
    color: white;
    border: #000;
    position: relative;
    text-decoration: none;
    margin: 0 12.5px 0 12.5px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

a.nav-bar-link:before {
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -5px;
    visibility: hidden;
    position: absolute;
    transform: scaleX(0);
    background-color: #FEE042;
    transition: all 0.3s ease-in-out 0s;
}

a.nav-bar-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Navbar on mobile & tablet*/

.onward-global-logo-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.logo-text-1 {
    margin: 0 5px 0 0;
    text-shadow: 0px 4px 15px rgb(0, 0, 0, .7);
}

.logo-text-2 {
    margin: 0 0 0 5px;
    text-shadow: 0px 4px 15px rgb(0, 0, 0, .7);
}

.og-triangle-logo {
    width: 25px;
    height: 25px;
}

.open {
    float: right;
    color: white;
    display: block;
    font-size: 30px;
    cursor: pointer;
    margin: 22px 80px 0 0;
    visibility: hidden;
}

.navbar-mobile {
    width: 0;
    z-index: 1;
    height: 100vh;
    display: block;
    transition: .5s;
    position: fixed;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .75);
}

.navbar-mobile a {
    clear: right;
    color: white;
    display: block;
    padding: 1em 0;
    font-size: 24px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.close {
    float: right;
    margin: 22px 80px 0 0;
}

.navbar-mobile a:not(:first-child):hover {
    color: black;
    background-color: #FEE042;
}

/* Media Queries managing which navbar is displayed */

/* sm */

@media(max-width: 576px) {
    .navbar-lg {
        visibility: hidden;
        /* 
            Column to center the logo (minus 10px right due to hamburger)
            Row to set it to the left
        */
        flex-direction: row;
        margin-bottom: 130px;
    }

    .onward-global-logo-container {
        margin-top: 4px;
        visibility: visible;
    }

    .open {
        margin: 22px 20px -10px 0;
    }

    .navbar-btns-container {
        flex-direction: row;
    }
}

/* md */

@media(max-width: 768px) {
    .open {
        visibility: visible;
    }

    .navbar-lg {
        visibility: hidden;
    }

    .onward-global-logo-container {
        visibility: visible;
        margin-top: 4px;
    }
    
}

@media (min-width: 768px) {
    .logo-text-1 {
        margin: 0 5px 0 0;
        font-size: 32px;
    }
    
    .logo-text-2 {
        margin: 0 0 0 5px;
        text-shadow: 0px 4px 15px rgb(0, 0, 0, .7);
        font-size: 32px;
    }
    
    .og-triangle-logo {
        width: 32px;
        height: 32px;
    }

}

/* lg */

@media(max-width: 992px) {
    .open {
        visibility: visible;
    }

    .navbar-lg {
        visibility: hidden;
    }

    .onward-global-logo-container {
        visibility: visible;
    }

}