/* Contact */

/* headings */
.section-title {
    text-align: center;
    margin: 50px 25px 30px 25px;
}

/* CSS for Contact.html */

.contact-container {
    display: grid;
    margin: 0 80 0 80;
    padding: 50 110 50 110;
    background-color: #FAFAFA;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-information-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: none;
}

/* Responsiveness */

/* xs */
@media(max-width: 576px) {
    .contact-container{
        grid-template-columns: 1fr;
        padding: 50 40 50 40;
    }
}

/* md */
@media(max-width: 768px) {
    .contact-container{
        grid-template-columns: 1fr;
    }
}

