/* Engagement */

.jumping-in-container {
    text-align: center;
}

.jumping-in-title {
    margin: 0;
    color: #3B4956;
    font-family: 'Raleway', sans-serif;
}

.jumping-in-subtitle {
    opacity: .7;
    font-family: 'Amiri', serif;
    margin-top: 12px;
    font-size: 18px;
}

/* Btn section styling is in buttons.css */