/* Engagement */

.content-about {
    opacity: .7;
    line-height: 192%;
    font-family: 'Amiri', serif;
}


.jumping-in-container {
    text-align: center;
}

.jumping-in-title {
    margin: 0;
    color: #3B4956;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}

.jumping-in-subtitle {
    opacity: .7;
    font-family: 'Amiri', serif;
    margin-top: 12px;
}