/* Index */

.homepage-services-container {
    margin: 50px 0 50px 0;
    padding: 50px 0 50px 0;
    background-color: #FAFAFA;
}

.about-link {
    color: #000;
    font-weight: bold;
}

hr {
    size: 174;
    width: .5px;
    color: #000;
    opacity: .2;
    visibility: hidden;
}

.homepage-services-section-title {
    color: #3B4956;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

/* .homepage-about {
    text-align: left !important;
} */

.service-items-sub-container {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.service-item {
    color: rgba(0, 0, 0, .7);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Amiri', serif;
}

.sps-title {
    margin-bottom: 30px;
}

.btn-section-container-homepage {
    padding: 50px 0 50px 0;
    background-color: #FAFAFA;
}

/* 
   Footer fixes

   Not permanent fixes - included this to remove the margin which is 
   being used to properly space the sections on contact.
 */

.index-footer-homepage {
    margin-top: 0;
}

.title-and-button-container-homepage {
    margin-top: 0;
}

/* End of Footer fixes */

/* 935 is the MIN breakpoint for Services Container to respond well*/

@media (max-width: 576px) {
    .service-item {
        font-size: 21px;
    }
}

@media(max-width: 1012px) {
    hr {
        margin: 0;
    }

}


@media(min-width: 1012px) {

    .service-items-sub-container {
        width: 404px;
    }

    .service-items-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 10% 0 10%; 
    }


}