/* Management */

.paragraph-and-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-paragraphs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management-paragraph {
    opacity: .7;
    line-height: 192%;
    font-family: 'Amiri', serif;
    text-align: center;
    font-size: 18px;
}

.profile-photo {
    width: 292px;
    margin: auto;
}

.image-container {
    width: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.image-caption {
    font-family: 'Amiri', serif;
    font-style: italic;
    font-size: 20px;
    opacity: .7;
}

/* 
   This is done so the spacing below this paragraph and above the contact button container is the same
   as the space between the btn container and the collage
*/
#paragraph-5 {
    margin-bottom: 0;
}


@media (min-width: 934px) {

    .paragraph-and-image-container {
        display: block;
    }
    
    .profile-photo {
        width: 292px;
        margin-bottom: 40px;
    }

    .management-paragraph {
        font-size: 18px;
        text-align: left
    }
    
    .image-container {
        float: right;
        margin-left: 100px;
    }

    .bottom-paragraphs-container {
        display: block;
    }
    
}

